{% extends 'index.html' %}

{% block content %}




<div class="w-full h-full bg-white rounded-lg">

    <!-- TITLE -->

    <div class="flex justify-between mx-12 pt-6">
        <h3 class="font-bold bg-gray-200 px-4 rounded-lg py-1">
            View Complaints
        </h3>
       
    </div>

    <!-- TABLE STARTS -->
   
     
    


<table class="table w-full mt-4">
    <!-- TABLE HEAD -->
    <thead class="table-head bg-amber-500 h-14 ">
        <tr class="bg-gray-400 ">
            <th>#</th>
            <th>User Name</th>
            <th>Complaint</th>
           
           
           
           
          
        </tr>
    </thead>

    <!-- TABLE HEAD ENDS -->
    
    <!-- TABLE BODY -->
    <tbody >
        <!-- ITEM -->
     {% for data in data %}
       
        <tr class="odd:bg-gray-100 even:bg-white">
            <!-- NAME -->
            <th class="py-4"><p class="text-black font-semibold text-base">{{ forloop.counter }}</p></th>
            <th class="py-4">
                <p class="text-black font-semibold text-base">{{data.userid.username}}</p>
            </th>
            <th class="py-4">
                <p class="text-black font-semibold text-base">{{data.compaint}}</p>
            </th>
          
           
        

            
           
            

        </tr>
        

        {% endfor %}
      
        
        
      
        
        
      
        

        
      
       
        
       
       
    </tbody>
    <!-- TABLE BODY ENDS -->
</table>


    


    
</div>
{% endblock content %}