{% extends 'index.html' %} {% block content %}

<div class="w-full h-full bg-white rounded-lg">
  <!-- TITLE -->

  <div class="flex justify-between mx-12 mt-4 pt-6">
    <h3 class="font-bold bg-gray-200 px-4 rounded-lg py-1 ml-48">
      Edit State Committee
    </h3>
    <!-- <a href="#" class="border border-stone-950 rounded-lg px-4 py-1 dropshadow text-zinc-900 font-medium hover:bg-black hover:text-white">Add Volunteer</a> -->
  </div>

  <!-- TABLE STARTS -->

  {% for message in messages %}

  <h4 class="text-red-600 font-semibold ml-60 mt-4 text-xs">{{message}}</h4>

  {% endfor %}

  <div class="table w-full mt-2">
    <form
    onsubmit="return validate()"
      class="w-full flex flex-wrap gap-4 justify-center mt-4"
      method="POST"
      action=""
    >
      {% csrf_token %}

      <div>
        <label class="text-sm font-semibold opacity-60" for="name"
          >State Name</label
        ><br />

        <input
        required
          class="border rounded-lg w-[500px] h-12 outline-none px-4 mb-12 drop-shadow border']"
          name="name"
          type="text"
          placeholder="State committee Name"
          value="{{volunteer.name}}"
        />
      </div>

      <div>
        <label class="text-sm font-semibold opacity-60" for="number"
          >Contact Number</label
        ><br />

        <input
        required
          class="border rounded-lg w-[500px] h-12 outline-none px-4 mb-12 drop-shadow border']"
          name="number"
          type="number"
          placeholder="Contact Number"
          value="{{volunteer.phone}}"
          id='phonenumber'
        />
      </div>

      <div>
        <label class="text-sm font-semibold opacity-60" for="state">State</label
        ><br />

        <select
        required
          name="state"
          class="border opacity-80 px-4 w-[500px] h-12 outline-none drop-shadow border rounded-lg"
          id="state"
        >
          <option value="{{volunteer.state.id}}">
            {{volunteer.state.name}}
          </option>
          {% for state in states %}
          <option value="{{state.id}}">{{state.name}}</option>
          {% endfor %}
        </select>
      </div>

      <div>
        <label class="text-sm font-semibold opacity-60" for="email">Email</label
        ><br />

        <input
        required
          class="border rounded-lg w-[500px] h-12 outline-none px-4 mb-12 drop-shadow border']"
          name="email"
          type="email"
          placeholder="Email"
          value="{{user.email}}"
        />
      </div>

      <div>
        <label class="text-sm font-semibold opacity-60" for="location"
          >Location</label
        ><br />

        <input
        required
          class="border rounded-lg w-[500px] h-12 outline-none px-4 mb-12 drop-shadow border']"
          name="location"
          type="text"
          placeholder="Location"
          value="{{volunteer.location}}"
        />
      </div>

      <div>
        <label class="text-sm font-semibold opacity-60" for="password"
          >Password</label
        ><br />

        <input 
          class="border rounded-lg w-[500px] h-12 outline-none px-4 mb-12 drop-shadow border']"
          name="password"
          type="password"
          placeholder="New Password"
        />
      </div>

      <input 
        class="border rounded-lg w-[500px] h-10 outline-none px-4 bg-gray-600 text-white font-medium cursor-pointer hover:bg-gray-600/80"
        type="submit"
        value="Save"
      />
    </form>
  </div>
</div>

<script>
     
    
    function validate(){
      let phone = document.getElementById('phonenumber').value 
  
          if(phone.length<10){
              alert('Enter Valid Phone Number')
              return false
          }
          
          return true
    } 
  </script>
{% endblock content %}
